/* SoundWaveAnimation.css */
.animation-container {
    overflow: hidden; /* Ensure canvas doesn't cause scrollbars */
    background-color: #1e1e1e;
    align-items: center;
    width: 80%; /* Ensure container takes full viewport width */
    height:80%; /* Ensure container takes full viewport height */
    position: relative; /* Needed for absolute positioning of controls */
    border-radius: 50px;
  }
  
  #canvas { /* Target the canvas directly */
    display: block; /* Remove extra space below canvas */
    width: 100%; /* Make canvas fill container width */
    height: 100%; /* Make canvas fill container height */
  }
  
  


  
  /* Optional: Style range input tracks and thumbs for better aesthetics (cross-browser) */
